<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-grid.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dist/Chart.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dist/Chart.min.css') }}">

  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Muli" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Poppins" />

  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">

  <script src="{{ url_for('static', filename='dist/Chart.js') }}"></script>
  <script src="{{ url_for('static', filename='dist/Chart.min.js') }}"></script>
  <script src="{{ url_for('static', filename='dist/utils.js') }}"></script>
  <style>
	canvas {
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
	</style>
  <style>
    #map{
      height:500px;
      width: 100%;
    }
  </style>
  <title>Project H</title>
</head>
<body>
  <header class="site-header">
    <nav class="navbar navbar-expand-lg navbar-light" id="navbar">
        <a class="navbar-brand" href="#">Project H</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="{{ url_for('index') }}">Home</a>
            <a class="nav-item nav-link" href="{{ url_for('about') }}">About</a>
            <a class="nav-item nav-link" href="#">Learn More</a>
          </div>
        </div>
      </nav>
{% block header %}{% endblock header %}
  </header>
<div class="container">
{% block content %}{% endblock content%}
{% block maps%}{% endblock maps %}
</div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
</body>
<!-- Footer -->
<div class="footer">
        <div class="container">
            <hr class="footer-line">
            <div class="row ">
                <div class="col-6">
                    <div class="footer-widget ">
                        <div class="footer-title">Global Organisations</div>
                        <ul class="list-unstyled">
                            <li><a href="https://polarisproject.org/" target="_blank">Polaris</a></li>
                            <li><a href="https://www.iom.int/" target="_blank">IOM</a></li>
                            <li><a href="https://www.ijm.org/" target="_blank">International Justice Mission</a></li>
                            <li><a href="https://www.lovejustice.ngo" target="_blank">Love Justice International</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-6">
                    <div class="footer-widget ">
                        <div class="footer-title">In Berlin</div>
                        <ul class="list-unstyled">
                            <li><a href="https://www.pinkdoorberlin.org/en/" target="_blank">Pink Door Berlin</a></li>
                            <li><a href="http://alabasterjar.de/" target="_blank">Alabaster Jar</a></li>
                            <li><a href="https://www.kok-gegen-menschenhandel.de/en/home/" target="_blank">KOK - NGO Network</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- tiny footer stuff -->
            <div class="row ">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center ">
                    <div class="tiny-footer">
                        <p>Made in Berlin at CODE University</p>
                    </div>
                </div>
                <!-- /. tiny-footer -->
            </div>
        </div>
    </div>
  <!-- /.footer -->
</html>
