{% extends "layout.html" %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Project H</h1>
    <p class="lead" id="jumbotron_text_img">A data visualisation project for cases of human trafficking worldwide</p>
    <hr class="my-4">
    <p id="jumbotron_text_img">The Counter Trafficking Data Collaborative has collected data of reported human trafficking cases globally
        from 2002 to mid 2018. <br>
        The purpose of this webiste is to understand the impact of trafficking by visualising key data points.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Explore</a>
    </p>
  </div>
<div class="container">
  <div class="card">
    <h5 class="card-header">Global Map</h5>
    <div class="card-body">
      <h5 class="card-title">Countries of Origin</h5>
      <p class="card-text">Explore a map showing the countries of origin of victims between 2002 and 2018</p>
      <a href="{{ url_for('maps') }}" class="btn btn-primary">Go</a>
    </div>
  </div>
</div>
<div class="container">
  <div class="card">
    <h5 class="card-header">Statistics by Gender</h5>
    <div class="card-body">
      <h5 class="card-title">The majority of cases registered are Female victims</h5>
      <p class="card-text">Explore the number of reported cases by gender between 2002 and 2018</p>
      <a href="{{ url_for('scatter') }}" class="btn btn-primary">Go</a>
    </div>
  </div>
</div>
{% endblock content %}
