{% extends "layout.html" %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Project H</h1>
    <p class="lead">A data visualisation project for cases of human trafficking worldwide</p>
    <hr class="my-4">
    <p>The Counter Trafficking Data Collaborative has collected data of reported human trafficking cases globally
        from 2002 to mid 2018. <br>
        The purpose of this webiste is to understand the impact of trafficking by visualising key data points.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Explore</a>
    </p>
</div>
{% endblock content %}

{% block maps %}
<div class="d-flex p-2">
    <div id="map"></div>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 2,
          // 36.372788, -39.106847
          center: {lat: 36.372788, lng: -39.106847},
          mapTypeId: 'roadmap'
        });

        // map.data.loadGeoJson('http://localhost:5000/data/themap.json');
        var script = document.createElement('script');

        script.src = 'http://localhost:5000/data/themap_GeoJSON.js';
        document.getElementsByTagName('head')[0].appendChild(script);

        map.data.setStyle(function(feature) {
          var magnitude = feature.getProperty('mag');
          return {
            icon: getCircle(magnitude)
          };
        });
      }

      function getCircle(magnitude) {
        return {
          path: google.maps.SymbolPath.CIRCLE,
          fillColor: 'red',
          fillOpacity: .2,
          // scale: Math.pow(2, magnitude) / 2,
          scale: (magnitude / 50),
          strokeColor: 'white',
          strokeWeight: .5
        };
      }

// fix this, data not defined
      //map.data.addGeoJson();
      function eqfeed_callback(results) {
        map.data.addGeoJson(results);
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDkbp6HEc5BDwvmIer4Tos-SXNFczkA4c
    &callback=initMap">
    </script>
</div>
<div class="container">
<h1> add unknown countries # here</h1>
<h1> add countries of exploitation here (blue markers)</h1> 
</div>
{% endblock maps %}
