{% extends "layout.html" %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Project H</h1>
    <p class="lead" id="jumbotron_text_img">A data visualisation project for cases of human trafficking worldwide</p>
    <hr class="my-4">
    <p id="jumbotron_text_img">The Counter Trafficking Data Collaborative has collected data of reported human trafficking cases globally
        from 2002 to mid 2018. <br>
        The purpose of this webiste is to understand the impact of trafficking by visualising key data points.</p>

</div>
{% endblock content %}

{% block maps %}
<h2>Global dataset: total number of cases per country or origin</h2>
<div class="d-flex p-2">
    <div id="map"></div>
    <script>
      var map;
      // creating infoWindow
      // var infowindow = new google.maps.InfoWindow();
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 2,
          // 36.372788, -39.106847
          center: {lat: 36.372788, lng: -39.106847},
          mapTypeId: 'roadmap'
        });

        // map.data.loadGeoJson('http://localhost:5000/data/themap.json');
        var script = document.createElement('script');
        //path from app.route
        script.src = '/data/<path:themap>';
        document.getElementsByTagName('head')[0].appendChild(script);

        map.data.setStyle(function(feature) {
          var magnitude = feature.getProperty('mag');
          return {
            icon: getCircle(magnitude)
          };
        });
      }

      function getCircle(magnitude) {
        return {
          path: google.maps.SymbolPath.CIRCLE,
          fillColor: 'red',
          fillOpacity: .2,
          // scale: Math.pow(2, magnitude) / 2,
          scale: (magnitude / 50),
          strokeColor: 'white',
          strokeWeight: .5
        };
      }

    //   map.data.addListener('click', function(event) {
    // 	var myHTML = event.feature.getProperty("mag");
    // 	infowindow.setContent("<div style='width:150px;'>"+myHTML+"</div>");
    // 	// position the infowindow on the marker
    // 	infowindow.setPosition(event.feature.getGeometry().get());
    // 	// anchor the infowindow on the marker
    // 	infowindow.setOptions({pixelOffset: new google.maps.Size(0,-30)});
    // 	infowindow.open(map);
    // });

// fix this, data not defined
      //map.data.addGeoJson();
      function eqfeed_callback(results) {
        map.data.addGeoJson(results);
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDkbp6HEc5BDwvmIer4Tos-SXNFczkA4c
    &callback=initMap">
    </script>
</div>
<div class="container">
  <div class="shadow p-3 mb-5 bg-white rounded">
    <h1> From this period, 12,318 of the reported cases have unknown citizenship.</h1>
  </div>
</div>
{% endblock maps %}
