{% extends "layout.html" %}
{% block header %}
<div class="container">
<div class="jumbotron">
    <h1 class="display-4">Project H</h1>
    <p class="lead">A data visualisation project for cases of human trafficking worldwide</p>
    <hr class="my-4">
    <p>The Counter Trafficking Data Collaborative has collected data of reported human trafficking cases globally
        from 2002 to mid 2018. <br>
        The purpose of this webiste is to understand the impact of trafficking by visualising key data points.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Explore</a>
    </p>
</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://source.unsplash.com/random" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://source.unsplash.com/random" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://source.unsplash.com/random" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock header %}
{% block content %}
<div class="container">
  <h3> Select the gender</h3>
</div>
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="http://127.0.0.1:8050/"></iframe>
</div>
<div class="container">
  <h1>Read more</h1>
</div>
{% endblock content %}
