<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-grid.css') }}">

  <title>Data Visualisation</title>
</head>
<body>
  <header class="site-header">
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <a class="navbar-brand" href="#">Data Visualisation</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">About <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">Notes</a>
            <a class="nav-item nav-link" href="#">Visualisation</a>
          </div>
        </div>
      </nav>
  </header>

	<!-- <section class="section section--features" id="features">

    <div class="section__content section__content--fluid-width section__content--padding">
      <div class="grid grid--4col grid--features">
      
        
        <div class="grid__item">
          <div class="grid__icon"><img src="images/icons/icons-64/desktop-chart-64.png" alt="" title=""/></div>
          <h3 class="grid__title">SaaS Landing Page <span>Analysis</span></h3>
          <p class="grid__text">A perfect structure created after we analized trends in SaaS landing page designs. Analysis made to the most popular SaaS businesses.</p>
        </div>

        <div class="grid__item">
          <div class="grid__icon"><img src="images/icons/icons-64/target-64.png" alt="" title=""/></div>
          <h3 class="grid__title">Target <span>audience</span></h3>
          <p class="grid__text">Blocks, Elements and Modifiers. A smart HTML/CSS structure that can easely be reused. Layout driven by the purpose of modularity.</p>
        </div>
        
          <div class="grid__item">
          <div class="grid__icon"><img src="images/icons/icons-64/security-64.png" alt="" title=""/></div>
          <h3 class="grid__title">Best online <span>Security</span></h3>
          <p class="grid__text">A perfect structure created after we analized trends in SaaS landing page designs. Analysis made to the most popular SaaS businesses.</p>
        </div>

      </div>
    </div>

    <svg class="svg-features-bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
      <path d="M0,100 Q50,50 100,100 L0,100 Z" fill="#fff"/>
    </svg>
</section> -->

  <div id="map_canvas" class="container">
        {% block content %}{% endblock content%}
  </div>   
{% block maps%}{% endblock maps %}

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>