{% extends "layout.html" %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Project H</h1>
        <p class="lead">A data visualisation project for cases of human trafficking worldwide</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Explore</a>
        </p>
      </div>

      <div class="card">
        <h5 class="card-header">Countries of Origin</h5>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="card">
        <h5 class="card-header">Cases by Gender</h5>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
{% endblock content %}